html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

#POI {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
	border: 1px solid blue;
	padding: 5px;
	background-color: rgba(255,255,0,0.7);
	box-shadow: 0 0 50px #666;
}

#POI ul {
	padding: 1px;
	margin: 1px;
	list-style: none;
}