html,
body,
.map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

.POI {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 0;
	background-color: rgba(255,255,0,0.7);
	box-shadow: 0 0 50px #666;
	overflow: hidden;
	transition: all 250ms ease-in-out;
	height: 25px;
/* This was causing the Offline notification to appear over the navigation in mobile devices */
	z-index: 2001;
}

.listofPOI {
	padding: 1px;
	margin: 1px;
	list-style: none;
}

.expanded {
	height: 100%;
}

.POI:hover {
	height: 100%;
}

.expand {
	padding: 5px;
	display: block;
	background-color: #fff;
	cursor: pointer;
	text-align: center;
	width: 100%;
}

.infoWindow {

}
/*
	Fixed the height issue in mobile devices
*/
@media screen and (max-width: 400px) {
    .POI {
        width: 50%;
		height: 45px;
    }
}